body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    color: #60a20b;
}

* {
    box-sizing: border-box;
}

#menu {
    height: 10vh;
    background-color: #714518;
    border-bottom: 5px solid #4c3012;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    margin-bottom: 50px;
}

.logo {
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
        0 1px 0 #c9c9c9,
        0 1px 0 #bbb,
        0 2px 0 #b9b9b9,
        0 3px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    padding: 10px;
    margin: 0px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    background-color: transparent;
    margin: 0px;
    position: absolute;
    left: 10px;
    top: 0;
    padding-top: 5px;
}

#home {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-color: black;
    min-height: 100vh;
}


.connexionContainer {
    margin-top: 12vh;
    border-radius: 3px;
    height: auto;
    padding: 20px;
    padding-top: 0px;
    background-color: #e3cb8f;
    position: relative;
    border-bottom: 10px solid #b79e60;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tab-content {
    width: 300px;
    margin: auto;
}

.connexionContainer h2,
label {
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    color: #805b04;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.tab-content > .active {}

.homeLogo {
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    padding: 10px;
    margin: 0px;
    color: white;
    font-weight: bold;
    font-size: 55px;
    background-color: transparent;
    margin: 0px;
    height: 10vh;
    position: absolute;
}

.nav-item {
    padding: 15px;
}

.nav-link {
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
    height: 50px;
    width: auto;
    border: none;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    background-color: transparent;
    color: color: #805b04;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs {
    border: none;
    color: color: #805b04;
    height: 50px;
}

.form-control,
.form-control:focus,
.form-control:active {
    border: none;
    color: white;
    background-image: url(../img/woodBar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 230px;
    margin: auto;
}

.form-control:focus {
    color: white;

    background-color: transparent;
    background-image: url(../img/woodBar.png);
    border: none;
    outline: none;
    box-shadow: none;
}

input[type="text"] {
    color: white;
}

.btn-default {
    background-image: url(../img/baseBtn.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    text-align: center;
    color: #60a20b;
    font-size: 18px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    width: 150px;
    line-height: 50px;
    font-weight: bold;
    display: block;
    margin: auto;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-weight: bold;
    color: transparent;
    display: none;
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.btn:focus,
.btn:hover {
    background-image: url(../img/baseBtnActive.png);
    outline: none;
}

.nav-tabs .nav-item {
    width: 50%;
    text-align: center;
    padding: 0px;
    font-weight: bold;
}

.nav-link {
    color: #805b04;
}

#character {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.4) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    min-height: 100vh;
    background-image: url(../img/backgroundLeaves.jpg);
    background-size: cover;
}

.off {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
}

a:hover {
    color: #60a20b;
}

#character h2 {
    text-align: center;
    font-weight: bold;
    color: #d2b46a;
}

.box {
    border-radius: 3px;
    height: auto;
    padding: 20px;
    padding-top: 0px;
    background-color: #e3cb8f;
    border-bottom: 10px solid #b79e60;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #805b04;
    height: auto;
}

.characterImg {
    width: 20vw;
    height: auto;
}

.itemCell {
    height: 50px;
    background-color: #d8bd7b;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#itemCell1 {
    background-image: url(../img/3_shield_.png);

}

#itemCell2 {
    background-image: url(../img/3_head_.png);

}

.characterCell {
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
   background-color: #d8bd7b;
}

.statsItem {
    background-image: url(../img/woodBar.png);
    background-size: cover;
    width: 225px;
    height: 50px;
    text-align: left;
    margin: auto;
}

.statsItem h3 {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #af753b;
    text-shadow: none;
}


.overlay {
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}
/*create char*/
#createChar{
    min-height: 100vh;
    background-image: url(../img/backgroundLeaves.jpg);
    background-size: cover;
}
#createChar{
    color: white;
}
#createChar form{
    color: white;
}
.characterChoice{
    padding-top: 30px;
}
.form-group{
    padding-top: 15px;
    margin-bottom: 0px;
}